// *, :root, html, body 스타일은 여기서 지정합니다.

* {
  /* Clear CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Pretendard', sans-serif;
  color: inherit;
  flex-shrink: 0;
}

:root {
}

html {
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: gray;
  display: flex;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
}

// 폰트 페이스 정의
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}